Repository SlanyCukr/riot-api-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-cc, radon-mi, frontend-lint, prettier, frontend-typecheck

Path conditions:
  radon-cc: any of: ^backend/.*\.py$ and not (^(backend/tests/|backend/alembic/|backend/scripts/)) and not ((?x)^(
  \.git/.*|
  \.tox/.*|
  build/.*|
  dist/.*|
  .*\.min\.(js|css)$|
  __pycache__/.*|
  frontend/node_modules/.*
)$
)
  radon-mi: any of: ^backend/.*\.py$ and not (^(backend/tests/|backend/alembic/|backend/scripts/)) and not ((?x)^(
  \.git/.*|
  \.tox/.*|
  build/.*|
  dist/.*|
  .*\.min\.(js|css)$|
  __pycache__/.*|
  frontend/node_modules/.*
)$
)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$ and not (^frontend/node_modules/) and not ((?x)^(
  \.git/.*|
  \.tox/.*|
  build/.*|
  dist/.*|
  .*\.min\.(js|css)$|
  __pycache__/.*|
  frontend/node_modules/.*
)$
)
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css)$ and not (^frontend/node_modules/) and not ((?x)^(
  \.git/.*|
  \.tox/.*|
  build/.*|
  dist/.*|
  .*\.min\.(js|css)$|
  __pycache__/.*|
  frontend/node_modules/.*
)$
)
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$ and not (^frontend/node_modules/) and not ((?x)^(
  \.git/.*|
  \.tox/.*|
  build/.*|
  dist/.*|
  .*\.min\.(js|css)$|
  __pycache__/.*|
  frontend/node_modules/.*
)$
)

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

docs: add production docs to gitignore and update AGENTS.md
  .gitignore
  AGENTS.md
Due: none

Add security enhancements and admin user management
  .gitignore
  backend/alembic/versions/006_change_password_hash_to_text_a1b2c3d4e5f6.py
  backend/alembic/versions/006_seed_admin_accounts_db1231550d08.py
  backend/app/core/config.py
  backend/app/core/rate_limiter.py
  backend/app/features/auth/models.py
  backend/app/features/auth/router.py
  backend/app/features/auth/schemas.py
  backend/app/features/auth/service.py
  backend/app/main.py
  docs/deployment.md
  docs/technical-debt.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/features/auth/components/sign-in-form.tsx
  frontend/features/auth/context/auth-context.tsx
  frontend/features/auth/utils/token-manager.ts
  frontend/features/jobs/components/system-status.tsx
  frontend/features/smurf-detection/components/player-analysis.tsx
  frontend/middleware.ts
  scripts/create_admin_user.py
Due: radon-cc, radon-mi, frontend-lint, prettier, frontend-typecheck

Refactor: squash user migrations to fix password_hash type mismatch
  backend/alembic/versions/005_create_users_table_7dc7d16fed5b.py
  backend/alembic/versions/006_change_password_hash_to_text_a1b2c3d4e5f6.py
Due: none

feat(docker): enable Docker Bake for compose builds by default
  .env.example
  .github/workflows/deploy.yml
  AGENTS.md
  docker/postgres/AGENTS.md
  docker/postgres/CLAUDE.md
  docs/database-schema.md
  docs/deployment.md
Due: none

fix(deploy): update domain and configure API URL for production
  .github/workflows/deploy.yml
Due: none

fix: add JWT_SECRET_KEY to deployment configuration
  .github/workflows/deploy.yml
  compose.yaml
Due: none

fix(core): add missing Player import in _upsert_player method
  backend/app/core/riot_api/data_manager.py
Due: radon-cc, radon-mi

fix: resolve sidebar layout and styling issues in production
  frontend/app/layout.tsx
  frontend/components/sidebar-nav.tsx
Due: frontend-lint, prettier, frontend-typecheck

fix: update reset script to use db_manager instead of AsyncSessionLocal
  backend/reset_admin_password.py
Due: radon-cc, radon-mi

fix: make all database migrations idempotent
  backend/alembic/versions/003_reorganize_schemas_auth_core_jobs_d32798c29221.py
  backend/alembic/versions/004_drop_app_schema_03230a19b98b.py
  backend/alembic/versions/005_create_users_table_7dc7d16fed5b.py
Due: none

feat: add admin password reset script
  backend/reset_admin_password.py
Due: radon-cc, radon-mi

feat: add admin user creation script and update env example
  .env.example
  backend/scripts/create_admin_user.py
Due: none

feat: upgrade Next.js 15.5.4 to 16.0.0 with Turbopack and image optimization
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.ts
Due: frontend-lint, prettier, frontend-typecheck

fix: migrate to native ESLint flat config for Next.js 16
  frontend/eslint.config.mjs
Due: none

chore: remove unused @eslint/eslintrc dependency
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Updated FE design, added legal pages, reorganized docs.
  .vscode/extensions.json
  README.md
  backend/app/features/auth/router.py
  docker/backend/Dockerfile
  docs/docs/backend.md
  docs/docs/database.md
  docs/docs/jobs.md
  docs/guides/deployment.md
  docs/guides/docker-troubleshooting.md
  docs/guides/migration.md
  docs/guides/riot-api.md
  docs/tasks/auth.md
  docs/tasks/technical-debt.md
  frontend/app/fonts/League.otf
  frontend/app/globals.css
  frontend/app/jobs/layout.tsx
  frontend/app/layout.tsx
  frontend/app/license/page.tsx
  frontend/app/matchmaking-analysis/layout.tsx
  frontend/app/page.tsx
  frontend/app/player-analysis/layout.tsx
  frontend/app/privacy-policy/page.tsx
  frontend/app/tracked-players/layout.tsx
  frontend/components/sidebar-nav.tsx
  frontend/eslint.config.mjs
  frontend/features/auth/components/sign-in-form.tsx
  frontend/next.config.ts
  frontend/proxy.ts
  frontend/public/logo-v3.png
  frontend/public/logo.png
  frontend/public/magnifier.png
Due: radon-cc, radon-mi, frontend-lint, prettier, frontend-typecheck

feat: remove Riot API key from environment variables
  backend/app/core/config.py
  backend/app/main.py
  compose.prod.yaml
  compose.yaml
Due: radon-cc, radon-mi

Removed Pyright from pre-commit hooks, updated password regex pattern.
  .pre-commit-config.yaml
  backend/app/features/auth/schemas.py
Due: radon-cc, radon-mi

refactor: consolidate admin management and finalize config simplification
  .env.example
  .github/workflows/claude-code-review.yml
  .gitignore
  AGENTS.md
  README.md
  backend/README.md
  backend/alembic/AGENTS.md
  backend/app/core/AGENTS.md
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/dependencies.py
  backend/app/core/riot_api/client.py
  backend/app/features/auth/schemas.py
  backend/app/features/jobs/implementations/ban_checker.py
  backend/app/features/jobs/implementations/match_fetcher.py
  backend/app/features/jobs/implementations/tracked_player_updater.py
  backend/app/features/jobs/scheduler.py
  backend/app/features/players/service.py
  backend/app/main.py
  backend/reset_admin_password.py
  backend/scripts/create_admin_user.py
  backend/scripts/manage_admin.py
  backend/uv.lock
  compose.override.yaml
  compose.prod.yaml
  compose.yaml
  docker/AGENTS.md
  docs/guides/deployment.md
  docs/tasks/technical-debt.md
  scripts/AGENTS.md
  scripts/create_admin_user.py
Due: radon-cc, radon-mi

docs: update production ports and add autossh configuration guide
  docs/production-rpi.md
Due: none

ci: update deployment workflow to use new port mappings
  .github/workflows/deploy.yml
Due: none

chore: align alembic migrations with production database
  AGENTS.md
  backend/alembic/AGENTS.md
  backend/alembic/env.py
  backend/alembic/versions/001_initial_schema_with_all_tables_3cf0af6dff87.py
  backend/alembic/versions/002_seed_initial_job_configurations_ed197c195294.py
  backend/alembic/versions/1b9da77b35df_add_player_analysis_table.py
  backend/app/features/jobs/router.py
  compose.override.yaml
  docker/backend/Dockerfile
  docker/postgres/init.sql
Due: radon-cc, radon-mi

chore: rename migration 006 and add migration 007 to drop smurf_detections
  backend/alembic/versions/006_add_player_analysis_table_1b9da77b35df.py
  backend/alembic/versions/007_drop_old_smurf_detections_table_2438ef1ce370.py
Due: none

ci: remove unused environment variables from deployment workflow
  .github/workflows/deploy.yml
Due: none

feat: add PostgreSQL logical replication from production to dev
  .env.example
  REPLICATION_SETUP_SUMMARY.md
  compose.prod.yaml
  docker/postgres/configure_replication.sh
  docs/postgresql-replication.md
  scripts/README.md
  scripts/setup-replication-dev.sh
Due: none

fix: add .worktrees/ to .gitignore for worktree isolation
  .gitignore
Due: none

feat: add SQLModel dependency for auth migration
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: create unified SQLModel models for auth feature
  backend/app/features/auth/models_sqlmodel.py
  backend/app/features/auth/test_models_sqlmodel.py
Due: radon-cc, radon-mi

fix: resolve SQLModel code review critical issues
  backend/app/features/auth/__init__.py
  backend/app/features/auth/models_sqlmodel.py
  backend/app/features/auth/test_models_sqlmodel.py
Due: radon-cc, radon-mi

feat: migrate auth service layer to use SQLModel patterns
  backend/app/features/auth/dependencies.py
  backend/app/features/auth/models.py
  backend/app/features/auth/models_sqlmodel.py
  backend/app/features/auth/service.py
  backend/app/features/auth/test_models_sqlmodel.py
  docs/plans/2025-10-27-auth-sqlmodel-implementation.md
Due: radon-cc, radon-mi
